.cccc
{
    background-color: rgb(243, 194, 210);
    color: rgb(248, 133, 153);
}
p {
    font-size: 18px;
}
.paragrafo {
    font-size: 16px;
}
.paragrafo1 {
    font-size: 30px;
}
.paragrafo2 {
    font-size: 20px;
}
.imagem{
    width: 20%;
    background-image: linear-gradient(#f86916);
}
.lista {
    display: inline-block;
    margin: 0 16px;  
}