.cccc
{
    background: color #0000000;
    color: pink;
}
p {
    font-size: 18px;
}
.paragrafo {
    font-size: 16px;
}
.imagem{
    width: 20%;
}
.lista {
    display: inline-block;
    margin: 0 16px;
}
