.cccc
{
    background: color #000000;
    color: rgb(248, 133, 153);
}
p {
    font-size: 18px;
}
.paragrafo {
    font-size: 16px;
}
.imagem{
    width: 20%;
    background-image: linear-gradient(#f86916);
}
.lista {
    display: inline-block;
    margin: 0 16px;
}